{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">


<title>shop product detail - Bootdey.com</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/book_detail.css' %}">
</head>
<body>
<div class="container bootdey">
<div class="col-md-12">
<section class="panel">
<div class="panel-body">
<div class="col-md-6">
<div class="pro-img-details">
<img style="width:450px; height: 400px;" src="{{ book_details.image.url }}" alt="rasim yo'q">
</div>
<div class="pro-img-list">
    {% for book in books %}
    <a href="#">
    <img
            style="width:115px; height: 100px;"
            src="{{ book.image.url }}" alt>
    </a>
    {% endfor %}
</div>
</div>
<div class="col-md-6">
    <a
            style="text-decoration: none;"
            href="{% url 'home' %}"><h4 class="pro-d-title"> > home</h4></a>
    <br>
<h4 style="color:green;" class="pro-d-title">
    <b>{{ book_details.name }}</b>
</h4>
    <br>
<p>
    {{ book_details.about }}
</p>
<div class="product_meta">
<span class="tagged_as"><strong>Author:</strong> <b style="color:red">{{ book_details.author }}</b></span>
</div>
<div class="m-bot15"> <strong>Price : </strong><span class="pro-price"> {{ book_details.price }} so'm</span></div>
</div>
</div>
</section>
</div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>